<div class="homePage">

    <div class="dEslogan">
        <div>
            <a href="https://www.google.com" target="_blank" class="aInstLogo">
                <img src="../../../../assets/img/instagramLogo.svg" class="logoInst">
            </a>
        </div>
        <div class="dMsjEslogan">
            <p class="msjEslogan">Elevando eventos, creando momentos inolvidables...</p>
        </div>
    </div>

    <div class="logo">
        <div class="dLogo">
            <a href="" class="aLogo">
                <img src="../../../../assets/img/logo.svg" class="imgLogo">
            </a>
        </div>

        <div class="dInicio">
            <a href="" class="aInicio">
                <h2>INICIO</h2>
            </a>
        </div>

        <div class="dProd">
            <a href="">
                <h2>PRODUCTOS</h2>
            </a>
            <a href="">
                <h2>CONTACTO</h2>
            </a>
            <a href="">
                <h2>CONOCENOS</h2>
            </a>
        </div>

        <div class="dMiCuenta">
            <a href="" class="aMiCuenta">
                <img src="../../../../assets/img/miCuenta.svg" class="iMicuenta">
                <p class="pMiCuenta">Mi Cuenta</p>
            </a>
        </div>

    </div>

    <img src="../../../../assets/img/fondoHomePage.jpg" class="homePageImg">

</div>

<div>

</div>

